html {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #202020;
}

body {
  height: 100%;
}

#MarvelLogo {
  height: 5%;
}

/*.body1 {
  height: 60vh;
  background-color: #09df7c;
  display: flex;
}

.body2 {
  height: 60vh;
  background-color: #e9f86b;
  display: flex;
}

.body3 {
  height: 60vh;
  background-color: #c512d9;
  display: flex;
}

.subbody1 {
  height: 20vh;
  background-color: hotpink;
  margin: 10px;
}*/
