html {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(36, 36, 37);
}

body {
  height: 100%;
}

#MarvelLogo {
  height: 5%;
}

.Movies {
  height: 86rem;
  display: flex;
  flex-grow: 0;
}

.Informations {
  background-position: center;
  height: 100rem;
  display: flex;
  font-family: "Marvel", sans-serif;
  color: black;
  font-size: 10rem;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.089),
      rgba(255, 0, 0, 0.308)
    ),
    url(https://wallpaperaccess.com/full/802192.jpg);
  background-repeat: repeat;
  background-size: cover;
  justify-content: space-evenly;
  justify-content: space-around;
  justify-content: space-between;
}

.MoviePhoto {
  height: 80rem;
}

#ListOfMovies {
  background-color: royalblue;
}

#ListOfSuperheros {
  background-color: seagreen;
}

#ActualMarvelSite {
  background-color: tomato;
}
/*.body1 {
  height: 60vh;
  background-color: #09df7c;
  display: flex;
}

.body2 {
  height: 60vh;
  background-color: #e9f86b;
  display: flex;
}

.body3 {
  height: 60vh;
  background-color: #c512d9;
  display: flex;
}

.subbody1 {
  height: 20vh;
  background-color: hotpink;
  margin: 10px;
}*/
